<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.northeastern.cs5520_group9">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_group"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_group_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS5520_Group9"
        tools:targetApi="31">
        <activity
            android:name=".groupProject.MatchingActivity"
            android:exported="false" />
        <activity
            android:name=".groupProject.Login_for_game"
            android:exported="false" />
        <activity
            android:name=".groupProject.GameSetting"
            android:exported="false" />
        <activity
            android:name=".groupProject.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".groupProject.Register_for_game"
            android:exported="false" />
        <activity
            android:name=".firebase.HistoryActivity"
            android:exported="false" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".firebase.SendStickerActivity"
            android:exported="false"
            android:theme="@style/Theme.CS5520_Group9.NoActionBar" />
        <activity
            android:name=".menu.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".team.TeamNameActivity" />
        <activity android:name=".firebase.LoginActivity" />
        <activity android:name=".groupProject.GroupProjectActivity" />
        <activity android:name=".webService.SearchActivity" />
        <activity android:name=".webService.getImageActivity" />
    </application>

</manifest>